.contact {
  /* padding-top: 20rem; */
  /* color: white; */
}

.heading {
  font-size: 4rem;
  display: inline-block;
}

.form {
  margin-top: 5rem;
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 4rem;
}

.form button {
  background-color: #101010;
  color: #f8f8ff;
  border: none;
  border-radius: 1rem;

  padding: 2rem 4rem;
  font-size: 2rem;
  box-shadow: 0 1rem 3.5rem rgba(52, 51, 51, 0.3);
}

.input {
  border: none;
  border-radius: 1rem;
  font-size: 2.2rem;
  padding: 2rem;
  background-color: #101010;
  font-weight: 200;
  transition: all 0.3s;
  box-shadow: 0 1rem 3.5rem rgba(52, 51, 51, 0.3);
}

.input:focus {
  outline: 2px solid grey;
}

.text-area {
  height: 30rem;
  max-height: 30rem;

  min-width: 100%;
  max-width: 100%;
}

.copyright {
  position: absolute;
  right: 5rem;
}
