*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: #101010;
  font-family: "Roboto Slab", serif;
}

input,
textarea {
  font-family: "Roboto Slab", serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}

section {
  height: 100vh;
  width: 100vw;
  padding: 10rem 8rem 8rem;
}
